# Ignora la cartella _site
_site/
.jekyll-cache/
# Ignora la cartella .vscode
.vscode/
.jekyll-cache/Jekyll/Cache/Jekyll--Cache/b7/9606fb3afea5bd1609ed40b622142f1c98125abcfe89a76a661b0e8e343910
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/01/da6a6ca507b49848407f30d265926a2ed863d3327efa142368d8fc0780193a
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/1f/90379a4b95c6fb8d4030d8e4014edb0c6a1d39bd706d03e2c16a96145731d6
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/2b/5c3d26721ae9c350cf3009318b626f0fc8a90b4a2ac0ca8099c05aa849282e
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/4b/d19e3a3117c2eb96fa484caa45ee02e1aac8845150e0675efe908e0198bda8
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/56/7a8b5f8f5ce3c525286711a68555da645ab87e929439f5badba2507fd2b6eb
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/5b/9f3797c67b304c47f775c9a136155077f20b22d217d6190971513e4ab7dc75
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/6f/0580d8846866bc38032a70314f67a3b1d0502fc9af78af70e25cbaed6e4b9c
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/84/8708312fa1f49adb7fdad09277dbdde161fde49a523164f316e98bdeccb488
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/bb/7234ec12451361e6f35bcbe76de58e4350657fe60d1b96ace0947f59194083
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/c6/11981fab983bc648368eb81240f5a5a1eff07f40aa4c9fd155600a98eeb6af
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/d2/825cb6bc912314c80ea78f0c58ae956adfd3bf36fc84a48f17e308d824c0dd
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/db/c468a14b601d5d9240aeb72b9fcd2f8aed2f4e30932876edf8d16ec313846b
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/df/e174a35bcad8d9abe96b44eff7bd605c31711e508d1f70448f7a3dbae3f577
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/e2/2820fcf5cd90e3fdd99a7569e0ee2f30eb7ebadfb2fe4d159b30c166ff81b7
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/ea/d07c84baac57a9542f388a07a2a5209456ce790b04251bc9bd7d179ea85cb1
_site/index.xml
_site/README.md
_site/sitemap.xml
_site/assets/main.css.map
_site/assets/css/app.min.css
_site/assets/css/style.css
_site/assets/css/style.min.css
_site/assets/images/001-computer.png
_site/assets/images/002-support.png
_site/assets/images/003-conversation.png
_site/assets/images/004-coupon.png
_site/assets/images/005-payment-method.png
_site/assets/images/006-social-care.png
_site/assets/images/007-hiring.png
_site/assets/images/007-list.png
_site/assets/images/404.png
_site/assets/images/admin-avatar.png
_site/assets/images/avatar.jpg
_site/assets/images/bg-pattern.svg
_site/assets/images/bg-pattern2.svg
_site/assets/images/blog-img.jpg
_site/assets/images/blog-img2.jpg
_site/assets/images/blog-img3.jpg
_site/assets/images/blog-img4.jpg
_site/assets/images/changelog-bug.png
_site/assets/images/changelog-date.png
_site/assets/images/changelog-fix.png
_site/assets/images/comment-img1.png
_site/assets/images/comment-img2.png
_site/assets/images/comment-img3.png
_site/assets/images/company-logo.png
_site/assets/images/company-logo2.png
_site/assets/images/company-logo3.png
_site/assets/images/company-logo4.png
_site/assets/images/company-logo5.png
_site/assets/images/company-logo6.png
_site/assets/images/company-logo7.png
_site/assets/images/company-logo8.png
_site/assets/images/company-logo9.png
_site/assets/images/company-logo10.png
_site/assets/images/dooxy-responsive-html-template-preview.png
_site/assets/images/favicon_bk.ico
_site/assets/images/favicon_bk.png
_site/assets/images/feature-icon.png
_site/assets/images/feature-icon2.png
_site/assets/images/feature-icon3.png
_site/assets/images/header-logoBK.png
_site/assets/images/headline-logo.png
_site/assets/images/headline-logo2.png
_site/assets/images/headline-logo3.png
_site/assets/images/logo-deep-linking-tiledesk-black.png
_site/assets/images/looking-logo.png
_site/assets/images/looking-logo2.png
_site/assets/images/page-title-img.jpg
_site/assets/images/page-title-img2.jpg
_site/assets/images/popular-1.png
_site/assets/images/popular-2.png
_site/assets/images/popular-3.png
_site/assets/images/popular-logo.png
_site/assets/images/popular-logo2.png
_site/assets/images/popular-logo3.png
_site/assets/images/popular-logo4.png
_site/assets/images/popular-logo5.png
_site/assets/images/popular-logo6.png
_site/assets/images/popular-logo7.png
_site/assets/images/privacy-policy-icon.png
_site/assets/images/privacy-policy-icon2.png
_site/assets/images/privacy-policy-icon3.png
_site/assets/images/privacy-policy-icon4.png
_site/assets/images/privacy-policy-icon5.png
_site/assets/images/rating.png
_site/assets/images/recent-img.jpg
_site/assets/images/recent-img2.jpg
_site/assets/images/recent-img3.jpg
_site/assets/images/redo-solid.svg
_site/assets/images/sections_black.png
_site/assets/images/sections_blu.png
_site/assets/images/sections_green.png
_site/assets/images/service-icon.png
_site/assets/images/service-icon2.png
_site/assets/images/service-icon3.png
_site/assets/images/slider-img.jpg
_site/assets/images/team-img.jpg
_site/assets/images/team-img2.jpg
_site/assets/images/team-img3.jpg
_site/assets/images/testimonial-img.png
_site/assets/images/testimonial-img2.png
_site/assets/images/testimonial-img3.png
_site/assets/images/testimonial-img4.png
_site/assets/images/testimonial-img5.png
_site/assets/images/testimonial-img6.png
_site/assets/images/testimonial-img7.png
_site/assets/images/testimonial-img8.png
_site/assets/images/testimonial-left.png
_site/assets/images/testimonial-right.png
_site/assets/images/topics-bg.jpg
_site/blog/index.html
_site/categories/index.html
_site/images/uploads/article-sm.png
_site/images/uploads/download.jpeg
_site/images/uploads/favicon.ico
_site/images/uploads/folder.png
_site/images/uploads/giappone-6g-5g-tecnologia-connessione-veloce.jpg
_site/images/uploads/miafoto.jpg
_site/images/uploads/service-icon3.png
_site/images/uploads/soletramonta.jpg
_site/images/uploads/tecnologia_strade-scaled.jpg
_site/pages/category_index.html.bak
_site/pages/changelog.html.bak
_site/pages/contact.html.bak
_site/pages/explore-topics.html.bak
_site/pages/faq.html.bak
_site/pages/index.html
_site/pages/privacy-policy.html.bak
_site/pages/register.html.bak
_site/pages/submit-ticket.html.bak
_site/pages/support.html.bak
_site/pages/testimonials.html.bak
_site/pages/topics.html.bak
_site/tags/index.html
_site/year-archive/index.html
_site/404.html
_site/index.html
_site/index.xml
_site/README.md
_site/sitemap.xml
_site/assets/main.css.map
_site/assets/css/app.min.css
_site/assets/css/style.css
_site/assets/css/style.min.css
_site/assets/images/001-computer.png
_site/assets/images/002-support.png
_site/assets/images/003-conversation.png
_site/assets/images/004-coupon.png
_site/assets/images/005-payment-method.png
_site/assets/images/006-social-care.png
_site/assets/images/007-hiring.png
_site/assets/images/007-list.png
_site/assets/images/404.png
_site/assets/images/admin-avatar.png
_site/assets/images/avatar.jpg
_site/assets/images/bg-pattern.svg
_site/assets/images/bg-pattern2.svg
_site/assets/images/blog-img.jpg
_site/assets/images/blog-img2.jpg
_site/assets/images/blog-img3.jpg
_site/assets/images/blog-img4.jpg
_site/assets/images/changelog-bug.png
_site/assets/images/changelog-date.png
_site/assets/images/changelog-fix.png
_site/assets/images/comment-img1.png
_site/assets/images/comment-img2.png
_site/assets/images/comment-img3.png
_site/assets/images/company-logo.png
_site/assets/images/company-logo2.png
_site/assets/images/company-logo3.png
_site/assets/images/company-logo4.png
_site/assets/images/company-logo5.png
_site/assets/images/company-logo6.png
_site/assets/images/company-logo7.png
_site/assets/images/company-logo8.png
_site/assets/images/company-logo9.png
_site/assets/images/company-logo10.png
_site/assets/images/dooxy-responsive-html-template-preview.png
_site/assets/images/favicon_bk.ico
_site/assets/images/favicon_bk.png
_site/assets/images/feature-icon.png
_site/assets/images/feature-icon2.png
_site/assets/images/feature-icon3.png
_site/assets/images/header-logoBK.png
_site/assets/images/headline-logo.png
_site/assets/images/headline-logo2.png
_site/assets/images/headline-logo3.png
_site/assets/images/logo-deep-linking-tiledesk-black.png
_site/assets/images/looking-logo.png
_site/assets/images/looking-logo2.png
_site/assets/images/page-title-img.jpg
_site/assets/images/page-title-img2.jpg
_site/assets/images/popular-1.png
_site/assets/images/popular-2.png
_site/assets/images/popular-3.png
_site/assets/images/popular-logo.png
_site/assets/images/popular-logo2.png
_site/assets/images/popular-logo3.png
_site/assets/images/popular-logo4.png
_site/assets/images/popular-logo5.png
_site/assets/images/popular-logo6.png
_site/assets/images/popular-logo7.png
_site/assets/images/privacy-policy-icon.png
_site/assets/images/privacy-policy-icon2.png
_site/assets/images/privacy-policy-icon3.png
_site/assets/images/privacy-policy-icon4.png
_site/assets/images/privacy-policy-icon5.png
_site/assets/images/rating.png
_site/assets/images/recent-img.jpg
_site/assets/images/recent-img2.jpg
_site/assets/images/recent-img3.jpg
_site/assets/images/redo-solid.svg
_site/assets/images/sections_black.png
_site/assets/images/sections_blu.png
_site/assets/images/sections_green.png
_site/assets/images/service-icon.png
_site/assets/images/service-icon2.png
_site/assets/images/service-icon3.png
_site/assets/images/slider-img.jpg
_site/assets/images/team-img.jpg
_site/assets/images/team-img2.jpg
_site/assets/images/team-img3.jpg
_site/assets/images/testimonial-img.png
_site/assets/images/testimonial-img2.png
_site/assets/images/testimonial-img3.png
_site/assets/images/testimonial-img4.png
_site/assets/images/testimonial-img5.png
_site/assets/images/testimonial-img6.png
_site/assets/images/testimonial-img7.png
_site/assets/images/testimonial-img8.png
_site/assets/images/testimonial-left.png
_site/assets/images/testimonial-right.png
_site/assets/images/topics-bg.jpg
_site/blog/index.html
_site/categories/index.html
_site/images/uploads/article-sm.png
_site/images/uploads/download.jpeg
_site/images/uploads/favicon.ico
_site/images/uploads/folder.png
_site/images/uploads/giappone-6g-5g-tecnologia-connessione-veloce.jpg
_site/images/uploads/miafoto.jpg
_site/images/uploads/service-icon3.png
_site/images/uploads/soletramonta.jpg
_site/images/uploads/tecnologia_strade-scaled.jpg
_site/pages/category_index.html.bak
_site/pages/changelog.html.bak
_site/pages/contact.html.bak
_site/pages/explore-topics.html.bak
_site/pages/faq.html.bak
_site/pages/index.html
_site/pages/privacy-policy.html.bak
_site/pages/register.html.bak
_site/pages/submit-ticket.html.bak
_site/pages/support.html.bak
_site/pages/testimonials.html.bak
_site/pages/topics.html.bak
_site/tags/index.html
_site/year-archive/index.html
